{# 참조하는 상대적 경로 #}
{% set RELATIVE_PATH = '../' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>서브 #1</title>

    {% import "inc_common_head.html" as head -%}
    {{ head.assetFiles( RELATIVE_PATH ) }}
</head>
<body>

{% include "inc_skip.html" %}

<div id="app">
    <div class="wrapper">
        {% import 'inc_header.html' as nav %}
        {{ nav.active([1]) }} <!-- 메뉴 활성화시 배열값 전달, 비활성화시 0 -->

        <main id="main">
            <h1>서브페이지 #1 본문</h1>

        </main>

        {% include "inc_footer.html" %}
    </div>
</div>


{% import "inc_scripts.html" as scripts -%}
{{ scripts.assetFiles( RELATIVE_PATH ) }}
</body>
</html>