.shadow {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
  display: none;
}

.text {
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  //컬러, 말줄임
  &-overflow {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &.multiline{
      display: block;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      //max-height: 200px;
      white-space: normal;
      word-break: break-word;

      &.line-3{
        -webkit-line-clamp: 3;
      }
      &.line-4{
        -webkit-line-clamp: 4;
      }
    }
  }

  &-underline {
    text-decoration: underline;
  }
}

// 정렬
.align-left {
  justify-content: flex-start;
}

.align-center {
  justify-content: center;
}

.align-right {
  justify-content: flex-end;
}

.align-between {
  justify-content: space-between;
}

.valign-start {
  align-items: flex-start !important;
}

.valign-center {
  align-items: center !important;
}

.valign-bottom {
  align-items: flex-end !important;
}

.valign-stretch {
  align-items: stretch !important;
}

.justify-self-end{
  justify-self: flex-end;
}

.align-self-end{
  align-self: flex-end;
}

.flex-column-reverse{
  flex-direction: column-reverse;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.blind,
.sr-only {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  margin: -1px!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}


