.sdp-container h1 {
  animation-duration: 0.8s;
  animation-name: h-fadein;
}

.sdp-container h2 {
  animation-duration: 0.8s;
  animation-name: h-fadein;
}
.sdp-container p {
  animation-duration: 0.8s;
  animation-name: p-fadein;
}
.sdp-container .btn-group {
  animation-duration: 1.0s;
  animation-name: btn-fadein;
}


.sdp-container .sdp-card-group .sdp-card {
  transform: translateY(20px);
  opacity:0.0;
}

@for $i from 1 through 200 {
  .sdp-container .sdp-card-group .sdp-card:nth-child(#{$i}n) {
    animation-duration: 0.8s;
    animation-name: inner-card-fadein;
    animation-delay: #{$i * 0.2}s;
    animation-fill-mode: forwards;
  }
}

.sdp-container .sdp-list-group .list-group-item{
  opacity: 0;
}

@for $i from 1 through 200 {
  .sdp-container .sdp-list-group .list-group-item:nth-child(#{$i}n) {
    animation-duration: 0.8s;
    animation-name: inner-card-fadein;
    animation-delay: #{$i * 0.2}s;
    animation-fill-mode: forwards;
  }
}

.sdp-container .banner-cta {
  animation-duration: 1.0s;
  animation-name: btn-fadein;
}

@keyframes backdrop-fadein {
  0% { opacity: 0.0; }
  100% { opacity: $backdrop-opacity; }
}

@keyframes backdrop-fadeout {
  0% { opacity: $backdrop-opacity; }
  100% { opacity: 0.0; }
}

@keyframes fadein {
  0% { opacity:0.0; }
  100% { opacity:1.0; }
}

@keyframes fadeout {
  0% { opacity:1.0; }
  100% { opacity:0.0; }
}

@keyframes h-fadein {
  0% { opacity:0.0; }
  100% { opacity:1.0; }
}

@keyframes p-fadein {
  0% { opacity:0.0; }
  100% { opacity:1.0; }
}

@keyframes btn-fadein {
  0% {
    opacity:0.0;
  }
  50% {
    opacity:0.0;
  }
  100% {
    opacity:1.0;
  }
}

@keyframes inner-card-fadein {
  0% {
    transform: translateY(20px);
    opacity:0.0;
  }
  100% {
    transform: translateY(0);
    opacity:1.0;
  }
}


@keyframes move-to-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move-to-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
