// webfonts
@font-face {
    font-family:SamsungOne400;
    src: url('../fonts/SamsungOne-400.woff2') format('woff2'),
    url('../fonts/SamsungOne-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:SamsungOne700;
    src: url('../fonts/SamsungOne-700.woff2') format('woff2'),
    url('../fonts/SamsungOne-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:SamsungOne400-kr;
    src: url('../fonts/SamsungOneKorean-400.woff2') format('woff2'),
    url('../fonts/SamsungOneKorean-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:SamsungOne700-kr;
    src: url('../fonts/SamsungOneKorean-700.woff2') format('woff2'),
    url('../fonts/SamsungOneKorean-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

// font-style
html{
}
body{
    //font-family: '궁서';
    min-width: 360px;
    font-family: $fonts-regular, 'Malgun Gothic', '맑은 고딕', 'Microsoft Yahei', 微软雅黑, STXihei, '华文细黑', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', 'MS PGothic', 'Apple SD Gothic Neo', 'Apple SD 고딕 Neo', 'AppleGothic','Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, Helvetica, sans-serif;
}

[lang="kr"]{
    font-family: $fonts-regular-kr;

    body{
        font-family: $fonts-regular-kr;
    }

    @for $i from 1 through 6 {
        #{'h' + $i}, #{'.h'+ $i}{
            font-family: $fonts-bold-kr;
        }
    }

    b,strong{
        font-family: $fonts-bold-kr;
    }
}


// reset style
a {
    &:link, &:visited, &:active {
        text-decoration: none;
    }

    &:hover {
        color:$main;
    }
}

.nav-link{
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

.btn{
    .badge{
        top:0;
    }
}

$_text-inputs-list: (
        "[type='color']",
        "[type='date']",
        "[type='datetime']",
        "[type='datetime-local']",
        "[type='email']",
        "[type='month']",
        "[type='number']",
        "[type='password']",
        "[type='search']",
        "[type='tel']",
        "[type='text']",
        "[type='time']",
        "[type='url']",
        "[type='week']",
        "input:not([type])",
        "textarea",
);

// input style
#{$_text-inputs-list}{
    outline: none;
    //vertical-align: baseline;
    &::placeholder {
        color: $gray-200;
    }
}
#{$_text-inputs-list} {
    &:invalid{

    }
}

select {

}

textarea {
    border: 1px solid white;
    resize: none;
}

// skip Navigation
#skip-navi{
    position: absolute; top: 0; left: 0;
    width: 100%;
    z-index: 99999;

    a {
        display: block;
        position: absolute;
        top: -9999px;

        &:hover, &:active, &:focus{
            display: inline-block;
            top: 0;
            width: 100%;
        }

        span {
            display: block;
            padding: 10px 0;
            background: #fafafa;
            border: 2px solid #666;
            color: #000;
            font-size: 16px;
            text-align: center;
        }
    }
}

