// micro interative motion guide


.sdp-transition-guide {

	.btn-gray-400.type2{
		transition: 1s;
	}

	/* You can copy below this*/
	.btn-material {
		padding: 10px 20px;
		overflow: hidden;
		position: relative;
		text-decoration: none;
		background:transparent;
		width: auto;
		.txt{
			pointer-events: none;
		}
		&:hover{
			background: rgba(20,40,160,.1);
		}
		&:active{
			color: rgba(20,40,160,1);
		}
	}
	.ripple {
		position: absolute;
		background: rgba(20,40,160,1);
		color: rgba(20,40,160,1) !important;
		border-radius: 100%;
		transform: scale(0.2);
		opacity: 0;
		pointer-events: none;
		-webkit-animation: ripple .75s ease-out;
		-moz-animation: ripple .75s ease-out;
		animation: ripple .75s ease-out;
	}
	@-webkit-keyframes ripple {
		from {
			opacity:1;
		}
		to {
			transform: scale(2);
			opacity: 0;
		}
	}
	@-moz-keyframes ripple {
		from {
			opacity:1;
		}
		to {
			transform: scale(2);
			opacity: 0;
		}
	}
	@keyframes ripple {
		from {
			opacity:1;
		}
		to {
			transform: scale(3);
			opacity: 0;
		}
	}

	.stroke{
		.flip-wrap{
			height: calcRem(24px);
			overflow: hidden;
			.flip{
				position: relative;
				top: 0;
				transition: .5s;
				backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				span{
					display: block;
				}
			}
		}
		&:hover{
			box-shadow: 0 0 0 3px #1428A0 inset;
			.flip-wrap{
				.flip{
					transform: translateY(-50%);
					span{
						display: block;
					}
				}
			}
		}
	}
}