
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">

  <!-- ======================================================================================================================================================================= -->
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="https://developer.samsung.com/favicon.ico">

  <!-- iOS home screen favorite -->
  <link rel="apple-touch-icon" href="https://developer.samsung.com/assets/images/share/apple-touch-icon.png">

  <!-- for SEO :alternate -->
  <!-- <link rel="alternate" href="https://developer.samsung.com/kr/en/SEO-Guide.html" hreflang="en"> --> <!-- 동일 페이지의 다른 언어 버젼 페이지가 있을 시, 입력 -->

  <!-- for SEO : canonical -->
  <link rel="canonical" href="https://developer.samsung.com/SEO-Guide.html">

  <!-- for SEO : Default Site info -->
  <title> Page Title | SAMSUNG Developers</title> <!-- 페이지 제목 (브라우져에 표시) -->
  <meta name="description" content="This is samsung developers"> <!-- 페이지 설명 값 -->
  <meta name="keywords" content=""><!-- 페이지 키워드 값 -->
  <meta name="apple-mobile-web-app-title" content="samsung developers | DF HTML Template"> <!-- 페이지 제목 값 : 홈화면에 추가시 / 웹앱 형태로 삽입될 시 보여지게 될 제목-->
  <link rel="image_src" href="https://developer.samsung.com/assets/images/share/share-thumb_200x200.png">

  <!-- for Share information -->
  <!-- FB -->
  <meta property="og:site_name" content="df-site-templete">
  <meta property="og:title" content="samsung developers">
  <meta property="og:description" content="This is samsung developers for DF.">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ko_KR">
  <meta property="og:url" content="https://developer.samsung.com/SEO-Guide.html">    <!--  rel=canonical -->
  <meta property="og:image" content="https://developer.samsung.com/assets/images/share/share-thumb_1200x630.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- TW -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="samsung developers">
  <meta name="twitter:description" content="This is samsung developers for DF.">
  <meta name="twitter:url" content="https://developer.samsung.com/SEO-Guide.html">
  <meta name="twitter:image" content="https://developer.samsung.com/assets/images/share/share-thumb_200x200.png">

  <!-- ======================================================================================================================================================================= -->


  <% include head_asset.ejs %>
