{% macro active(activePage='home') %}
{%if activePage == 'dev' %}
    {%if activePage == 'home' %}<!-- main page 전용 -->
    <link rel="stylesheet" href="./assets/css/main.css">{% endif %}
    {%if activePage == 'sub' %}<!-- 서브페이지 전용 -->
    <link rel="stylesheet" href="./assets/css/sub.css">{% endif %}
    {%if activePage == 'contact' %}<!-- 연락페이지 전용 -->
    <link rel="stylesheet" href="./assets/css/contact.css">{% endif %}
{% endif %}
{%if activePage == 'prd' %}
<link rel="stylesheet" href="./assets/css/contents.css">
{% endif %}
{% endmacro %}
