<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><!-- build:title --></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon Html -->

    <link rel="stylesheet" href="/assets/css/globals.css">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- build:css -->

    <!-- common.js -->
    <script src="/assets/js/dsf.vendors.js"></script>

</head>
<body>
    <div id="app">
        <div id="skip-navi"><a href="#main"><span>본문 바로가기</span></a></div>
        <div id="el_body_wrap" class="body-wrapper">

            <header>
                <h1><img src="../images/dvbris.svg" alt="Dvbris" class="logo"></h1>
                <h2><!-- build:header --></h2>
            </header>
            <nav>네비게이션</nav>
            <div id="wrapper">
                <div id="content"><!-- build:content --></div>
                <div id="content-footer"><!-- build:footer --></div>
            </div>
            <footer>
                <p>풋터내용111</p>
            </footer>

        </div>
    </div>

    <!-- content js -->
    <!-- build:js -->
</body>
</html>