<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><!-- build:title --></title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- favicon Html -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
    <link rel="stylesheet" href="../css/second_style.css">
    <!-- build:css -->
    <!-- build:js -->
    <script src="../js/jquery-1.11.0.min.js"></script>
    <script src="../js/lightbox.min.js"></script>
    <script src="../js/main.js"></script>
</head>
<body>
    <div id="app">
        <div id="skip-navi"><a href="#main"><span>본문 바로가기</span></a></div>
        <div id="el_body_wrap" class="body-wrapper">

            [세번째 템플릿]

        </div>
    </div>
</body>
</html>