<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
</head>

<body>
<div id="wrapper">
    서브 컨텐츠 페이지
    <% include ../partial/header.ejs %>
    <div class="sample">
        <iframe src="/docs/index.html" frameborder="0"></iframe>
    </div>
    <% include ../partial/footer.ejs %>
</div>

<% include ../partial/scripts.ejs %>
</body>
</html>
