@charset "utf-8";

//## 링크
@import "colors";
@import "font_names";
@import "font_names";
//## 경로 정의
$path-common-img: '/common/img';
$path-web-font: '/common/fonts' !default;

//## 기본 SCSS 변수 모음
// device mode
$is-mobile-mode:      false !default;
$is-tablet-mode:        false !default;
$is-pc-mode:             false !default;
$use-unit-px:             true !default; // px 단위를 사용 여부 스위치
$psd-width:                360px !default; // psd 가로 정의
$psd-height:               640px !default; // psd 세로 정의


//## 사용자 상수 정의 목록
// $psd-mobile-width: 720px !global;

//  기본 폰트 설정
$default-font-size: 12px !default;
$default-line-height: 1.3 !default;

//  미디어쿼리 분기 지점 정의
$custom-media-break-points : (
        mobile-portrait:  320px,
        mobile-landscape :  480px, //가로모드

        tablet-portrait:   768px,
        tablet-landscape:    1024px,

    // pc-x-smaller-std:         1024px,
        pc-smaller-std:         1280px,
        pc-standard:            1600px, // 기준구간
        pc-bigger-std:          1920px, //최적화 구간
        pc-x-bigger-std:        2240px //대형 화면 대응 구간

) !global !default;



// defauts fonts 속성
$fonts-default: (
     font-name:    unquote("'Malgun Gothic', '맑은 고딕', AppleGothicNeoSD, 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, sans-serif"),
     font-size:      $default-font-size,
     line-height:   $default-line-height
) !global !default;

$fonts-default-size: map_get($fonts-default, font-size);


//== Media queries breakpoints

// 모바일 구간
$screen-mobile-portrait:                 map_get($custom-media-break-points, mobile-portrait);
$screen-mobile-landscape:             map_get($custom-media-break-points, mobile-landscape);

// 태블릿 구간
$screen-tablet-portrait:                  map_get($custom-media-break-points, tablet-portrait);
$screen-tablet-landscape:              map_get($custom-media-break-points, tablet-landscape);

// Desktop PC 구간
$screen-pc-smaller:                  map_get($custom-media-break-points, pc-smaller-std);
$screen-pc-standard:              map_get($custom-media-break-points, pc-standard);
$screen-pc-bigger:              map_get($custom-media-break-points, pc-bigger-std);
$screen-pc-x-bigger:              map_get($custom-media-break-points, pc-x-bigger-std);


// So media queries don't overlap when required, provide a maximum
$screen-mobile-max:              ($screen-tablet-portrait - 1) !default;
$screen-tablet-portait-max:              ($screen-tablet-landscape - 1) !default;
$screen-pc-max:              ($screen-pc-bigger - 1) !default;

// IE8이상 지원
$legacy-support-for-ie8: false !global;

// IE9이상 지원
$legacy-support-for-ie9: true !global !default;





