///********************///
///*    Direction     *///
///********************///

// device

// 디바이스별로 조건식으로 처리한다.
$psd-width: 1920px !global;
$use-unit-px: true !global;

// LTR languages directions.

$def-float: left;
$opp-float: right;

$def-direction: ltr;
$opp-direction: rtl;

@import 'settings/variables';
@import '../utils/all_utils';