@charset "utf-8";

// 사용자 폰트 변수
$fonts-face-default:                    map_get($fonts-default, font-name);
$fonts-face-custom-light:          nth(map_keys($fonts-face-custom), 4);
$fonts-face-custom-regular:       nth(map_keys($fonts-face-custom), 5), nth(map_keys($fonts-face-custom), 1);
$fonts-face-custom-kr-regular:        nth(map_keys($fonts-face-custom), 1);
$fonts-face-custom-en-regular:        nth(map_keys($fonts-face-custom), 5);
$fonts-face-custom-en-x-regular:        nth(map_keys($fonts-face-custom), 6);
$fonts-face-custom-lgt-regular:       nth(map_keys($fonts-face-custom), 4), nth(map_keys($fonts-face-custom), 1);
$fonts-face-custom-smbold:      nth(map_keys($fonts-face-custom), 2);
$fonts-face-custom-bold:           nth(map_keys($fonts-face-custom), 7), nth(map_keys($fonts-face-custom),3);
$fonts-face-custom-kr-bold:           nth(map_keys($fonts-face-custom),3);