@charset "utf-8";
// 페이지 샘플

/* custom-contents */
body{
    padding:10px;

}
h1{
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: bold;
}

h2{
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    color:lighten(black, 50);
}

dl{
    font-size: 34px;
}




body{
    table{
        border:3px solid greenyellow;


        td{
            padding:10px 20px;
            font-weight: bold;
            color:green;
            font-size: 24px;
            background: #fff;

            &:nth-child(even){
                background: slategray;
                color:#fff;
            }
        }

        tr{
            &:nth-child(odd){
                td{
                    background: silver;

                    &:nth-child(even){
                        background: #3e515b;
                    }
                }

            }
        }
        th{
            padding:10px 0;
            @include px-font(400, 24,34);
        }
    }

}



td{
    span{
        display: block;
        padding:4px;
        border:1px dotted wheat;
    }

    &:before{
        display: block;
        content: '임시로 넣는 텍스트';
    }
    &:nth-child(2) span{
        letter-spacing: 1em;
        //@include vw-convert-mo(padding, 10);
        @include vw-font-mo(400, 45, 45);
    }
}

ul{
    padding-bottom: 18px;
}

li{
    font-size: 18px;
    color:green;
    font-weight: bold;
}



// 웹팩 이미지 압축 테스트
.jpg-image{
    $img-height:(1005px,1005px, 720px, 1005px);
    li{
        font-size: 22px;
        padding-bottom: 20px;
        &:after{
            display: block;
            @include bg-attr(N, '',auto 100%);
            content:'';
        }

        @for $i from 1 through 4{
            &:nth-child(#{$i}){
                &:after{
                    height:nth($img-height, $i);
                    background-image:url('../images/picture_#{$i}.jpg');
                }

            }
        }
    }
}

.png-image{
    $img-height:(1406px,1919px, 910px, 1080px, 1210px, 1000px);
    $img-file-name:(png_illust_1, png_illust_2, png_picture_1, png_picture_2, png_transparent_graphic, png_transparent_picture);
    li{
        font-size: 22px;
        padding-bottom: 20px;
        &:after{
            color:lighten(red,10);
            display: block;
            @include bg-attr(N, '',auto 100%);
            content:'';
        }

        @for $i from 1 through 6{
            &:nth-child(#{$i}){
                &:after{
                    height:nth($img-height, $i);
                    background-image:url('../images/#{nth($img-file-name, $i)}.png');
                }

            }
        }
    }
}

.gif-image{
    li{
        font-size: 22px;
        padding-bottom: 20px;
        &:after{
            display: block;
            height:900px;
            @include bg-attr(N,'', auto 100%);
            background-image:url('../images/test_gif.gif');
            content:'';
        }
    }
}


//믹스인 샘플
// =============================================================================
// BEM mixin
// =============================================================================

$selector: "thisSelect";
$component:'test-compoent';

@include b($component) {
    background: red;

    @include e(header){
        font-size: 14px;

        @include m(css) {
            font-size: 18px;
            font-weight: bold;
        }
    };
}

//단위 제거 믹스인
.delete-unit{
    content:'단위가 삭제된 값은?' delUnit(30px);
    //어쩌구 저쩌구
}

// =============================================================================
// background mixin
// =============================================================================
$bg-img-path: '../images/';
.background-mixin{
    /* 기본 이미지만 사용 */
    @include bg-img($bg-img-path, 'basic_image.jpg', red);
    /* 레티나 사용시 인자로 true전달 */
    @include bg-img($bg-img-path, 'retina_image_width_color.jpg',green, true);
    @include bg-img($bg-img-path, 'retina_image_width_color_other.jpg', true, skyblue);
    @include bg-img($bg-img-path, 'retina_image.jpg', pink);
    @include bg-img($bg-img-path, 'none-color-retina_image.jpg', true);
}

.with-color-background-mixin{
    /* 컬러값까지 사용 */
    @include bg-img($bg-img-path, 'basic_image.jpg', rgba(255, 255, 255, 0.3));
}

.background-attribute{
    // background-repeat Flag(R, X, Y, N), background-position, background-size
    @include bg-attr(R,left top, cover);
    @include bg-attr(X, 50% 30%);
    @include bg-attr(N, 30px 20px);
    @include bg-attr(N, '', contain);
}

// =============================================================================
// placeholder mixin
// =============================================================================
@include placeholder(){
    color:gold;
};

// 특정 엘리먼트에 적용시 Selector를 파라미터로 전달
.placeholder-elements{
    input[type=text]{
        font-size:24px;
        line-height:2;
    }
    @include placeholder(#{'input[type=text]'}){
        color:lemonchiffon;
    };
    color:rgba(red,0.8)
}


// =============================================================================
// media-query & vw-convert mixin
// =============================================================================

/* 기본 PC 화면 구간 */
body{
    &:before{
        content: 'PC구간 : '  + $screen-pc-small +'~';
    }
}

/// 폰트 스타일 믹스인
//px단위용
.font-px-unit{
    @include px-font(700, 12, 24);
}

//vw단위용
.font-pc-vw-unit{
    @include vw-font-pc(700, 36, 26);  //vw 단위 반환
}

.pc-vw-test{
    @include vw-convert-pc(padding, 30 50 20);
}
// line-height 믹스인
.single-line-height-mixin{
    @include line-height(1.3);
    @include line-height(20px);
}

/* 키워드 입력형  break-point */
@include break-point($tablet){
    body{
        &:before{
            content: '타블릿 구간: '+ $screen-tablet-portrait + '~' +  $screen-tablet-max;
        }
    }

    .font-tablet-vw-unit{
        @include vw-font-tb('', 14, 23);
    }

    .tablet-vw-test{
        @include vw-convert-tb(padding, 30 50 20);
    }
}

@include break-point($mobile){
    body{
        &:before{
            content: '모바일 구간: ~' +  $screen-mobile-max;
        }
    }

    .mobile-vw-single{
        @include vw-convert-mo(padding-left, 20);
        @include vw-convert-mo(margin-top, 20);
        @include vw-convert-mo(height, auto);
    }
    .mobile-vw-multi{
        @include vw-convert-mo(padding, 30 auto 20);
    }
    .font-mobile-vw-unit{
        @include vw-font-mo('', 32, 30);

        //범용 vw-convert사용
        @include vw-convert(padding, 20 auto, $psd-mobile-width);
    }
}

/* 수치 입력형 break-point */
@include break-point(1200px,min) {
    ._1200-min-window{
        color:gray;
    }
}

@include break-point(1900px,max) {
    ._1900-max-window{
        color:pink;
    }
}


@include break-point(1200px,1440px) {
    .pc-vw-section{
        color:red;
        @include vw-convert(padding, 30 auto 30, $psd-pc-width);
    }
}

@include break-point(1200px,1440px, portrait) {
    .pc-vw-section-portrate{
        color:red;
        @include vw-convert(padding, 30 auto 30, $psd-pc-width);
    }
}

@include break-point(600px,minH) {
    body {
        &:before {
            content: '최소 높이 600px';
        }
    }
}

@include break-point(1200px,maxH) {
    body {
        &:before {
            content: '최대 높이 1200px';
        }
    }
}

@include landscape(){
    body{
        &:before{
            content:'가로화면';
        }
    }
}

@include portrait(){
    body{
        &:before{
            content:'세로화면';
        }
    }
}



// =============================================================================
// icon mixin
// =============================================================================

.icon-triangle{
    //px 전용
    &::after {
        @include triangle("up", 6rem, 12rem, #b25c9c);
        content: "";
    }
}

.common-icon{
    @include bg-attr(N, 0 0, cover);

    &.svg-icon-width-png{
        /* svg아이콘 이미지와 fallback으로 사용될 png이미지 생성, fallback용 이미지 생성을 위해서는 true 전달 */
        @include svg-clip($bg-img-path, 'svg_image.svg', true);


    }
    &.only-svg-icon{
        /* svg 아이콘 이미지만생성 */
        @include svg-clip($bg-img-path, 'only_svg_image.svg');
    }
}
@include landscape{
    a{
        font-size:26px;
    }
}
