@charset "utf-8";
// == 사용자 상수 정의 목록
// $psd-mobile-width: 720px !global;

//  웹 폰트 폰트 페이스명, 파일명 정의
$fonts-face-custom:(
  //* 국문 폰트 페이스명: 폰트 파일명
    SDGothicNeoR-Regular:        A400SDGothicNeoR-Regular,
    SDGothicNeoSB-SemiBold:    A500SDGothicNeoSB-SemiBold,
    SDGothicNeoB-Bold:             A600SDGothicNeoB-Bold,

  //* 영문 폰트 페이스명: 폰트 파일명
    NobelL-Light:                       A100NobelL-Light,
    NobelBook-Regular:             A200NobelBook-Regular,
    NobelR-Regular:                   A300NobelR-Regular,
    NobelB-Bold:                        A400NobelB-Bold
) !global !default;


// 기본 폰트 설정
$default-font-size: 12px !default;
$default-line-height: 1.3 !default;

// 폰트 컬러 정의
$color-text-base:      #000 !global; // 폰트 기본 컬러
$color-text-over:      #0027AA !global; // 폰트 마우스 오버 컬러
// $color-text-hot:        #f00; //강조 컬러

//  미디어쿼리 분기 지점 정의
$custom-media-break-points : (
    mobile-portrait:  320px,
    mobile-landscape :  480px, //가로모드

    tablet-portrait:   768px,
    tablet-landscape:    1024px,

    // pc-x-smaller-std:         1024px,
    pc-smaller-std:         1280px,
    pc-standard:            1600px, // 기준구간
    pc-bigger-std:          1920px, //최적화 구간
    pc-x-bigger-std:        2240px //대형 화면 대응 구간

) !global !default;






