@charset "utf-8";
// 기본 폰트 스타일 정의
$fonts-default: (
        font-name: unquote("'Malgun Gothic', '맑은 고딕', 'Microsoft Yahei', 微软雅黑, STXihei, '华文细黑', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', 'MS PGothic', 'Apple SD Gothic Neo', 'Apple SD 고딕 Neo', 'AppleGothic','Microsoft NeoGothic', 'Droid sans', Dotum, 돋움, 굴림, arial, Helvetica, sans-serif"),
        font-size: 12px,
        line-height: 1.3
) !global !default;

//  기본 폰트 설정
$fonts-default-size: map_get($fonts-default, font-size);
$fonts-default-line-height: map_get($fonts-default, line-height);

// 사용자 폰트 변수
$fonts-face-default: map_get($fonts-default, font-name);

$fonts-face-custom: (
    //@폰트 페이스명: 파일명(woff, woff2)
        NotoSansKR-Thin: NotoSansKR-Thin, //100
        NotoSansKR-Light: NotoSansKR-Light, //300
        NotoSansKR-Regular: NotoSansKR-Regular, //400
        NotoSansKR-Medium: NotoSansKR-Medium, //500
        NotoSansKR-Bold: NotoSansKR-Bold, //700
        NotoSansKR-Black: NotoSansKR-Black, //900

        NotoSans-Regular: noto-sans-v7-latin-regular,
        NotoSans-Bold: noto-sans-v7-latin-700
) !global;

$fonts-face-custom-100: nth(map_keys($fonts-face-custom), 1);
$fonts-face-custom-300: nth(map_keys($fonts-face-custom), 2);
$fonts-face-custom-400: nth(map_keys($fonts-face-custom), 3);
$fonts-face-custom-500: nth(map_keys($fonts-face-custom), 4);
$fonts-face-custom-700: nth(map_keys($fonts-face-custom), 5);
$fonts-face-custom-900: nth(map_keys($fonts-face-custom), 6);

$fonts-face-custom-en-regular: nth(map_keys($fonts-face-custom), 7);
$fonts-face-custom-en-bold: nth(map_keys($fonts-face-custom), 8);

//custom basefont
$fonts-face-custom-regular: $fonts-face-custom-en-regular, $fonts-face-custom-400;