/* font */
@font-face {
    font-family: "SamsungOneUI-500";
    font-style: normal;
    font-weight: 500;
    src: url("https://d3s9xxce58xg55.cloudfront.net/font/SamsungOneUI-500.woff") format("woff");
}

@font-face {
    font-family: "SamsungOneUI-700";
    font-style: normal;
    font-weight: 700;
    src: url("https://d3s9xxce58xg55.cloudfront.net/font/SamsungOneUI-700.woff") format("woff");
}