@import './contents/content';

body{
    // SCSS Comment!
    header {
        height:100px;
        background: gray;
        /* CSS comment */
        ul{
            display: flex;
            padding:10px;
        }

        a{
            border: 1px solid green;
            font-size: 16px;
            padding:10px;
            color:black;

            &.active{
                color:red;
                font-weight: normal;
            }
        }
    }

    main{
        padding:10px;

        h1{
            font-size: 24px;
            color: black
        }

        strong{
            color:black;
        }
    }

    footer {
        height:100px;
        background: darkgray;
    }

}













