// type system
// 모바일에서의 여백 재정의
@include media-breakpoint-down(sm) {
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12,
    .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto,
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto,
    .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto,
    .container, .container-fluid {
        padding-right:$container-margin;
        padding-left:$container-margin;
    }
    .row {
        margin-right:-$container-margin;
        margin-left:-$container-margin;
    }
    .no-gutters {margin-right:0; margin-left:0;}
}
@include media-breakpoint-up(md) {
    section:not(.kv):not(.full-bleed-cta) {
        padding:0 $section-md-margin;
    }
}


//$font-size-base:              1rem; // 16px
$h1-font-size:                $font-size-base * 4;          // 64px
$h2-font-size:                $font-size-base * 2.5;        // 40px
$h3-font-size:                $font-size-base * 2;          // 32px
$h4-font-size:                $font-size-base * 1.5;        // 24px
$h5-font-size:                $font-size-base * 1;          // 16px
$h6-font-size:                $font-size-base * 0.75;       // 12px

// typo
h1, .h1 {
    margin:0;
    font-size: calcRem(48px);
    //letter-spacing:0.1rem;
    line-height:1.125;
    font-weight: normal;

    &.bold {
        font-family: $fonts-bold;
    }

    // tablet and pc
    @include media-breakpoint-up(md) {
        font-size: calcRem(64px);
    }
}
h2, .h2 {
    margin:0;
    @include font-size($h2-font-size);
    font-weight: normal;

    &.bold {
        font-family: $fonts-bold;
    }
}
h3, .h3 {
    margin:0;
    @include font-size($h3-font-size);
    font-weight: normal;

    &.bold {
        font-family: $fonts-bold;
    }
}
h4, .h4 {
    margin:0;
    @include font-size($h4-font-size);
    font-weight: normal;

    &.bold {
        font-family: $fonts-bold;
    }
}
.h4-md {
    font-weight: normal;
    @include media-breakpoint-up(md) {
        @include font-size($h4-font-size);
    }
    &.bold {
        font-family: $fonts-bold;
    }
}
h5, .h5 {
    margin:0;
    @include font-size($h5-font-size);
    font-weight: normal;
    &.bold {
        font-family: $fonts-bold;
    }
}
h6, .h6 {
    margin:0;
    @include font-size($h6-font-size);
    font-weight: normal;
    &.bold {
        font-family: $fonts-bold;
    }
}

p, .lead {
    margin:0;
    @include font-size($h5-font-size);
}
.m-lead {
    @include media-breakpoint-down(sm) {
        @include font-size($h5-font-size);
    }
}


small, .small{
    display: inline-block;
    @include font-size($h6-font-size);
}
.small-bold {
    display: inline-block;
    @include font-size($h6-font-size);
    font-family: $fonts-bold;
    font-weight: normal;
}
strong, b, .bold {
    font-family: $fonts-bold;
    font-weight: normal;
}

.regular {
    font-family:$fonts-regular !important;
}

.lead-md {
    @include media-breakpoint-up(md) {
        @include font-size($h5-font-size);
    }
    &.bold {
        font-family: $fonts-bold;
    }
}

// 내용에 포함되는 특수 기호 정의
.txt-entry{
    font-style: normal;
    color:black;
    font-family: $fonts-bold;
    &.apostrophe{ // APOSTROPHE
        &:before, &:after{
            display: inline;
            content: '\0027';
        }
    }
}

// badge style
.badge {
    min-width:calcRem(48px);
    padding:calcRem(6px 10px);
    border-radius:50rem;
    font-size:calcRem(12px);
    font-weight:normal;
    font-family: $fonts-bold;
    text-transform:uppercase;
    vertical-align:middle;
}
.badge-group {
    .badge {
        margin:calcRem(0 4px);
        font-family: $fonts-bold;

        &:first-child{margin-left:0;}
        &:last-child{margin-right:0;}
    }
}

// button base style
$btn-pill-height:   48px;
.btn {
    $button-theme-color:                     $gray-400;
    $button-theme-rounded-color:             $gray-200;
    $button-theme-hover-color:               $indigo;
    $button-theme-rounded-hover-color:       $indigo;

    $button-theme-fill-text-color:           $white;
    $button-theme-fill-color:                $gray-200;
    $button-theme-fill-hover-color:          $gray-400;
    $button-theme-fill-rounded-hover-color:  $button-theme-fill-hover-color;

    padding:calcRem(7px 8px);
    border-radius:0;
    color:$button-theme-color;
    background-color:transparent;
    font-family: $fonts-bold;
    line-height:1.3;
    cursor:pointer;
    @include transition($btn-transition);

    .txt {
        display:inline-block;
        min-width: calcRem(50px);
        vertical-align:middle;
    }

    // css caret(꺽쇠) ==> 이미지로 교체
    &:before, &:after{
        background: {repeat: no-repeat; size: 100% auto; position: center center;};
    }

    &.rounded-pill {
        min-width:calcRem(160px);
        height:calcRem($btn-pill-height);
        padding:calcRem(11px 24px);
        border-width:1px;
        border-style:solid;
        border-color:$button-theme-rounded-color;
        overflow:hidden;
        @include transition($btn-transition);

        @include media-breakpoint-up(md) {
            min-width:calcRem(200px);
        }
    }

    // case by filled bg color
    &.btn-bg-fill {
        color:$button-theme-fill-text-color;
        background-color:$button-theme-fill-color;
        border-color:$button-theme-fill-color;
    }

    // button width size
    &.btn-size-wide {
        //min-width:calcRem(152px);
        min-width:calcRem(260px);

        @include media-breakpoint-up(md) {
            min-width:calcRem(260px);
        }
    }
    &.btn-size-small {
        min-width:calcRem(136px);
        height:calcRem(32px);
        padding:calcRem(7px 24px);
        font-size:calcRem(12px);
        line-height:1;

        @include media-breakpoint-up(md) {
            min-width:calcRem(160px);
            padding:calcRem(6px 36px);
        }
    }

    // button width mobile size
    &.btn-size-sm-small {
        @include media-breakpoint-down(sm) {
            min-width:calcRem(152px) !important;
        }
    }
    &.btn-size-sm-medium {
        @include media-breakpoint-down(sm) {
            min-width:calcRem(208px);
        }
    }
    &.btn-size-sm-wide {
        @include media-breakpoint-down(sm) {
            min-width:calcRem(260px);
        }
    }
    &.btn-size-sm-w100 {
        @include media-breakpoint-down(sm) {
            width:100%;
            margin:0;
        }
    }

    &:focus, &.focus, &.focused,
    &:active &.active,
    &:hover {
        text-decoration:none;
        outline:none;
        box-shadow:none;
    }

    @include hover {
        text-decoration: none;
        color:$button-theme-hover-color;
        &.rounded-pill {
            border-color:$button-theme-rounded-hover-color;
        }
        .txt:after {background-color:$button-theme-hover-color;}

        // case by filled bg color
        &.btn-bg-fill {
            color:$button-theme-fill-text-color;
            background-color:$button-theme-fill-hover-color;
            border-color:$button-theme-fill-hover-color;
        }
    }
}

// dropdown
.dropdown {
    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:50%; right:0;
        margin:calcRem(-12px 14px 0 0);
        background-image: url("../img/common/icon_gui/icon_arrow_down.svg");
        vertical-align: middle;
        @include transition($btn-transition);
        pointer-events:none;
    }

    &.show {
        &:after {
            z-index:1000;
        }
    }

    // custom
    .dropdown-toggle,
    .dropdown-menu {
        &:after {display:none !important;}
    }
}
.dropdown-toggle {
    position:relative;
    &.btn {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    &.btn-down:after {
        display: inline-block;
        position:static;
        margin: calcRem(0 0 0 -4px);
    }

    &.rounded-pill,
    &.boxed-pill {
        padding-right:calcRem(40px);
        &.btn-down:after {
            display:block;
            position:absolute;
            content:'';
            width:calcRem(24px);
            height:calcRem(24px);
            top:50%; right:0;
            margin:calcRem(-12px 14px 0 0);
            border:none;
            background-image: url("../img/common/icon_gui/icon_arrow_down.svg");
            vertical-align: middle;
            @include transition($btn-transition);
        }
        &.btn-right:after {
            display:block;
            position:absolute;
            width:calcRem(24px);
            height:calcRem(24px);
            top: 50%;
            right:calcRem(16px);
            margin: calcRem(-10px 0 0);
            border:none;
        }
    }
    &.rounded-pill {}
    &.boxed-pill {
        width:100%;
        height:calcRem(48px);
        padding-left:calcRem(24px);
        border:1px solid $gray-200;
        background-color:$white;
    }

    & + .dropdown-menu {
        &:after {
            display:block;
            position:absolute;
            content:'';
            width:calcRem(8px);
            height:calcRem(8px);
            top: calcRem(20px);
            right:calcRem(24px);
            margin: -0.25rem 0 0 0;
            border-top:none;
            border-left:none;
            border-bottom: 2px solid $gray-400;
            border-right: 2px solid $gray-400;
            vertical-align: $caret-vertical-align;
            transform: rotate(45deg);
            transform-origin: center center;
            @include transition($btn-transition);
        }
    }


    //&:after {display:none !important;}
}
.dropdown-menu {
    min-width:100%;
    width:100%;
    margin:calcRem(-$btn-pill-height 0 0);
    padding:calcRem(4px 0);
    border:1px solid $gray-200;
    border-radius:0;

    &.show {
        transform:translate3d(0,0,0) !important;
        margin-top:0 !important;
        max-height:calcRem(260px);
        overflow-y:auto;
    }
}
.dropdown-item {
    padding:calcRem(7px 24px);
    font-family:$fonts-bold;
}

// custom dropdown in sdp-form

// button decorate style
.btn-underline {
    .txt {
        position:relative;
        padding-bottom:calcRem(4px);
        &:after {
            display:block;
            content:'';
            position:absolute;
            width:100%;
            height:1px;
            left:0; bottom:0;
            background-color:$gray-400;
            @include transition($btn-transition);

            @include hdpi(1.5){
                height: $number-4k-1px;
            }

            @include hdpi(1.6){
                height: 1px;
            }
        }
    }
}

// button arrow style
.btn-down {
    position:relative;
    padding-right:calcRem(24px);

    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:50%; right:0;
        //margin:calcRem(-6px 7px 0 0);
        margin-top:calcRem(-12px);
        border:none;
        background-image: url("../img/common/icon_gui/icon_arrow_down.svg");
        vertical-align: middle;
        @include transition($btn-transition);
    }

    &.btn-indigo:after {background-image: url("../img/common/icon_gui/icon_arrow_down_@indigo.svg");}
    &.btn-white:after {background-image: url("../img/common/icon_gui/icon_arrow_down_@white.svg");}

    .txt-info{
        display: block;
        line-height: 1;
        em{
            color: $gray-200;
            font-style: normal;
            vertical-align: middle;
        }

        .line{
            display: inline-block;
            width:1px; height:calcRem(14px);
            margin: calcRem(0 7px);
            background: $gray-200;
        }
    }

    @include hover {
        &:not(.dropdown-toggle) {
            &:after {
                transform:translate3d(0,1.4px,0);
            }
        }
    }
}
.btn-left {
    position:relative;
    padding-left:calcRem(22px);

    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:50%; left:0;
        //margin:calcRem(-3px) 0 0 calcRem(7px);
        margin-top:calcRem(-12px);
        border: none;
        background-image: url("../img/common/icon_gui/icon_arrow_left.svg");
        vertical-align: middle;
        transform-origin: center center;
        @include transition($btn-transition);
    }

    &.btn-indigo:after {background-image: url("../img/common/icon_gui/icon_arrow_left_@indigo.svg");}
    &.btn-white:after {background-image: url("../img/common/icon_gui/icon_arrow_left_@white.svg");}

    @include hover {
        &:after {
            transform:translate3d(-2px,0,0);
        }
    }
}
.btn-right {
    position:relative;
    padding-right:calcRem(22px);

    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:50%; right:0;
        margin-top:calcRem(-12px);
        border-left:none;
        background-image: url("../img/common/icon_gui/icon_arrow_right.svg");
        vertical-align: middle;
        transform-origin: center center;
        @include transition($btn-transition);
    }

    &.btn-indigo:after {background-image: url("../img/common/icon_gui/icon_arrow_right_@indigo.svg");}
    &.btn-white:after {background-image: url("../img/common/icon_gui/icon_arrow_right_@white.svg");}

    @include hover {
        &:after {
            transform:translate3d(2px,0,0);
        }
    }
}

.btn-download {
    position:relative;
    padding-right:calcRem(22px);

    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:50%; right:0;
        margin:calcRem(-12px) 0 0 0;
        background:{repeat:no-repeat; size:100%; position:center center; image:url("../img/common/icon_gui/icon_arrow_download.svg");};
        transform-origin: center center;
        @include transition($btn-transition);
    }

    &.btn-indigo:after {
        background-image:url("../img/common/icon_gui/icon_arrow_download_@indigo.svg");
    }
}
.btn-arrow {
    &:after {
        display:block;
        position:absolute;
        content:'';
        width:calcRem(24px);
        height:calcRem(24px);
        top:25%; right:calcRem(24px);
        margin:0;
        background:{repeat:no-repeat; position: center center; size: contain;}
        border:none;
        transition:none;
    }

    &.btn-right{
        &:after{
            background:{image:url('../img/common/icon_gui/icon_arrow.svg'); };
            transform:rotate(0deg);
        }

        &:hover{
            &:after{
                background:{image:url('../img/common/icon_gui/icon_arrow_@indigo.svg'); };
            }
        }
    }

    &.btn-download{
        span{
            &.lft-txt, &.rgt-txt{
                display: flex;
                align-items: center;
            }

            &.lft-txt{
                .badge{
                    margin-left: calcRem(4px);
                }
                .txt{}
            }
        }
        .txt-info{
            display: block;
            line-height: 1;
            em{
                color: $gray-200;
                font-style: normal;
                vertical-align: middle;
                transition: color 0.15s ease-in-out;
            }

            .line{
                display: inline-block;
                width:1px; height:calcRem(14px);
                margin: calcRem(0 8px);
                background-color: $gray-200;
                transition: background-color 0.15s ease-in-out;
            }
        }
        &:after{
            background:{image:url('../img/common/icon_gui/icon_arrow_download.svg');};
            transform:rotate(0);
        }

        &:hover{
            &:after{
                background:{image:url('../img/common/icon_gui/icon_arrow_download_@indigo.svg');};
            }
        }
    }

    &.btn-sm-arrow{
        padding-right: calcRem(16px);
        &:after{
            top: calcRem(14px); right:0;
            width: calcRem(10px); height: calcRem(12px);
            background:{image:url('../img/common/icon_gui/icon_sm_arrow.svg');}
        }

        &:hover{
            &:after{
                background:{image:url('../img/common/icon_gui/icon_sm_arrow_@main.svg');}
            }
        }

        &.btn-down{

            &:after{

            }
        }
    }
}

// button active style
.btn-gray-200 {
    $button-theme-color:                     $gray-200;
    $button-theme-rounded-color:             $gray-200;

    $button-theme-hover-color:               $indigo;
    $button-theme-rounded-hover-color:       $indigo;

    $button-theme-active-color:              $white;
    $button-theme-rounded-active-color:      $indigo;

    color:$button-theme-color;
    &.rounded-pill {border-color:$button-theme-rounded-color;}
    //&:after {border-color:$button-theme-color;}
    .txt:after {background-color:$button-theme-color;}

    @include hover {
        color:$button-theme-hover-color;
        &.rounded-pill {
            border-color:$button-theme-rounded-hover-color;
            color:$button-theme-hover-color;
        }
        //&:after {border-color:$button-theme-hover-color;}
        .txt:after {background-color:$button-theme-hover-color;}
    }

    &.active {
        color:$button-theme-active-color;
        &.rounded-pill {
            border-color:$button-theme-rounded-active-color;
            background-color:$button-theme-rounded-active-color;
            color:$button-theme-active-color;
        }

        //&:after {border-color:$button-theme-active-color;}
        .txt:after {background-color:$button-theme-rounded-active-color;}
    }
}
.btn-gray-400 {
    $button-theme-color:                     $gray-400;
    $button-theme-rounded-color:             $gray-200;

    $button-theme-hover-color:               $indigo;
    $button-theme-rounded-hover-color:       $indigo;

    //$button-theme-active-color:              $white;
    //$button-theme-rounded-active-color:      $indigo;
    $button-theme-active-color:              $white;
    $button-theme-rounded-active-color:      $indigo;

    color:$button-theme-color;
    &.rounded-pill {border-color:$button-theme-rounded-color;}
    //&:after {border-color:$button-theme-color;}
    .txt:after {background-color:$button-theme-color;}

    @include hover {
        color:$button-theme-hover-color;
        &.rounded-pill {
            border-color:$button-theme-rounded-hover-color;
            color:$button-theme-hover-color;
        }
        //&:after {border-color:$button-theme-hover-color;}
        .txt:after {background-color:$button-theme-hover-color;}
    }

    &.active {
        color:$button-theme-active-color;
        &.rounded-pill { //:not[class^="dropdown-toggle"]
            border-color:$button-theme-rounded-active-color;
            background-color:$button-theme-rounded-active-color;
            color:$button-theme-active-color;
        }

        //&:after {border-color:$button-theme-active-color;}
        .txt:after {background-color:$button-theme-rounded-active-color;}
    }

    // toggle button
    &[aria-expanded^="true"] {
        // only collapse button (ex:filter)
        &.rounded-pill:not(.dropdown-toggle) {
            border-color:$button-theme-rounded-active-color;
            background-color:$button-theme-rounded-active-color;
            color:$button-theme-active-color;
        }
    }
}
.btn-indigo {
    $button-theme-color:                     $indigo;
    $button-theme-rounded-color:             $indigo;

    $button-theme-hover-color:               $indigo;
    $button-theme-rounded-hover-color:       $indigo;

    $button-theme-fill-text-color:           $white;
    $button-theme-fill-color:                $button-theme-color;
    $button-theme-fill-hover-color:          $black;
    $button-theme-fill-rounded-hover-color:  $button-theme-fill-hover-color;

    $button-theme-active-color:              $indigo;
    $button-theme-rounded-active-color:      $white;

    color:$button-theme-color;
    &.rounded-pill {border-color:$button-theme-color;}
    &:after {
        //background-image: url("../img/common/icon_gui/icon_arrow_down_@indigo.svg");
        //border-color:$button-theme-color;
    }
    .txt:after {background-color:$button-theme-color;}

    // case by filled bg color
    &.btn-bg-fill {
        color:$button-theme-fill-text-color;
        background-color:$button-theme-fill-color;
        border-color:$button-theme-fill-color;
    }

    @include hover {
        color:$button-theme-hover-color;
        &.rounded-pill {border-color:$button-theme-hover-color;}
        //&:after {border-color:$button-theme-hover-color;}
        .txt:after {background-color:$button-theme-hover-color;}

        // case by filled bg color
        &.btn-bg-fill {
            color:$button-theme-fill-text-color;
            border-color:$button-theme-fill-rounded-hover-color;
            background-color:$button-theme-fill-hover-color;
        }
    }

    &.active {
        color:$button-theme-active-color;
        &.rounded-pill {
            //border-color:$button-theme-rounded-active-color;
            color:$button-theme-active-color;
        }
        &:after {
            //border-color:$button-theme-active-color;
            //background-image: url("../img/common/icon_gui/icon_arrow_down_@indigo.svg");
        }
        .txt:after {background-color:$button-theme-active-color;}
    }
}
.btn-white {
    $button-theme-color:                     $white;
    $button-theme-rounded-color:             $white;

    $button-theme-hover-color:               $cyan;
    $button-theme-rounded-hover-color:       $cyan;

    $button-theme-fill-text-color:           $gray-400;
    $button-theme-fill-color:                $button-theme-color;
    $button-theme-fill-hover-text-color:     $white;
    $button-theme-fill-hover-color:          $cyan;
    $button-theme-fill-rounded-hover-color:  $button-theme-fill-hover-color;

    $button-theme-active-color:              $white;;
    $button-theme-rounded-active-color:      $cyan;

    color:$button-theme-color;
    &.rounded-pill {border-color:$button-theme-rounded-color;}
    &:after {
        //background-image: url("../img/common/icon_gui/icon_arrow_down_@white.svg");
    }
    .txt:after {background-color:$button-theme-color;}

    // case by filled bg color
    &.btn-bg-fill {
        color:$button-theme-fill-text-color;
        background-color:$button-theme-fill-color;
        border-color:$button-theme-fill-color;
    }

    @include hover {
        color:$button-theme-hover-color;
        &.rounded-pill {
            border-color:$button-theme-rounded-hover-color;
            color:$button-theme-rounded-hover-color;
        }
        &:after {}
        .txt:after {background-color:$button-theme-hover-color;}
        // case by filled bg color
        &.btn-bg-fill {
            color: $button-theme-fill-hover-text-color;
            border-color: $button-theme-fill-rounded-hover-color;
            background-color: $button-theme-fill-hover-color;
        }
    }

    &.active {
        color:$button-theme-active-color;
        &.rounded-pill { //:not[class^="dropdown-toggle"]
            background-color:$button-theme-rounded-active-color;
            color:$button-theme-active-color;
        }

        &:after {
            //background-image: url("../img/common/icon_gui/icon_arrow_down_@white.svg");
        }
        .txt:after {background-color:$button-theme-rounded-active-color;}
    }
}

// dropdown active style
.dropdown-toggle {
}
.dropdown-item {
    &:hover {
        background:none;
        color: $indigo;
    }
    &:focus {background:none;}
    &:active,
    &.active{
        background:none;
        color:$indigo;
    }
}


// play button
.btn-play {font-size:0;
    .s-ico-play {
        &:before {
            border:2px solid #fff;
            @include transition($btn-transition);
        }
    }
    @include hover {
        .s-ico-play {
            &:before {
                background-color:$indigo;
            }
        }
    }
}
a,
button {
    @include hover {
        .btn-play {
            .s-ico-play {
                &:before {
                    background-color:$indigo;
                }
            }
        }
    }
}

// full size button
.btn-absolute-full {
    position:absolute;
    width:100%; height:100%;
    top:0; right:0; bottom:0; left:0;
    text-align:center;

    &:before {
        display: inline-block;
        content: '';
        font-size: 0;
        width: 0;
        height: 100%;
        line-height: 1;
        vertical-align: middle;
    }
    > span {
        display:inline-block;
        vertical-align:middle;
    }
}

// button group
.btn-group {
    > .btn-group:not(:first-child) {
        margin:0;
    }
    > .btn:not(:first-child) {
        margin:calcRem(0 8px);
    }
    .btn {
        flex:none;
        margin:calcRem(0 8px);
        &:first-child {margin-left:0;}
        &:last-child {margin-right:0;}
    }
}
.btn-group-responsive {
    display: inline-flex;
    vertical-align: middle;
    > .btn-group:not(:first-child) {
        margin:0;
    }
    > .btn:not(:first-child) {
        margin:calcRem(0 20px);
    }
    .btn {
        position: relative;
        flex: 1 1 auto;
        margin:calcRem(0 20px);
        &:first-child {margin-left:0;}
        &:last-child {margin-right:0;}
    }

    @include media-breakpoint-down(sm) {
        .dropdown {
            position: relative;
            flex: 1 1 auto;
            .btn {width:100%; margin-right:0; margin-left:0;}
        }
    }
}
.btn-icon-group {   // 아이콘으로 구성된 버튼 그룹
    $icon-margin:0px;
    > .btn:not(:first-child) {
        margin:calcRem(0 $icon-margin);
    }
    .btn {
        padding:calcRem(4px);
        margin:calcRem(0 $icon-margin);
        &:first-child {margin-left:0;}
        &:last-child {margin-right:0;}
    }

    &.ml-n1 {margin-left:calcRem(-4px) !important;}
    &.mr-n1 {margin-right:calcRem(-4px) !important;}
}

// space-wall
.btn-space-wall {
    > .btn {
        //margin:calcRem(0px 12px);
        margin:calcRem(0px);
    }
    > .btn:not(:first-child) {
        //margin-left:calcRem(12px);
        margin:calcRem(0px);
        &:before {
            display:block;
            position:absolute;
            content:'';
            width:1px; height:calcRem(18px);
            top:50%; left:0;
            //margin-left:calcRem(-12px);
            margin-top:calcRem(-8.2px);
            background-color:$gray-300;
            vertical-align:middle;
        }
    }

    > .btn:first-child {margin-left:0;}
    > .btn:last-child {margin-right:0;}

    &.no-margin {
        > .btn {margin:0;}
        > .btn:not(:first-child):before {
            margin-left:0;
        }
    }

    // color
    &.wall-gray-200 {
        > .btn:not(:first-child) {
            &:before {
                background-color:$gray-200;
            }
        }
    }
    &.wall-gray-400 {
        > .btn:not(:first-child) {
            &:before {
                background-color:$gray-400;
            }
        }
    }
    &.wall-indigo {
        > .btn:not(:first-child) {
            &:before {
                background-color:$indigo;
            }
        }
    }
    &.wall-white {
        > .btn:not(:first-child) {
            &:before {
                background-color:$white;
            }
        }
    }
}
.text-space-wall {
    > .txt,
    > span {
        position:relative;
        margin:0 0.625em;
    }
    > .txt:not(:first-child),
    > span:not(:first-child) {
        &:before {
            display:block;
            position:absolute;
            content:'';
            width:1px;
            height:1em;
            margin-left:-0.63em;
            margin-top:-0.45em;
            top:50%; left:0;
            background-color:$gray-400;
            vertical-align:middle;
        }
    }

    > .txt:first-child,
    > span:first-child {margin-left:0;}

    > .txt:last-child,
    > span:last-child {margin-right:0;}

    // color
    &.wall-gray-200 {
        > .txt:not(:first-child),
        > span:not(:first-child) {
            &:before {
                background-color:$gray-200;
            }
        }
    }
    &.wall-gray-400 {
        > .txt:not(:first-child),
        > span:not(:first-child) {
            &:before {
                background-color:$gray-400;
            }
        }
    }
    &.wall-indigo {
        > .txt:not(:first-child),
        > span:not(:first-child) {
            &:before {
                background-color:$indigo;
            }
        }
    }
    &.wall-white {
        > .txt:not(:first-child),
        > span:not(:first-child) {
            &:before {
                background-color:$white;
            }
        }
    }
}
.space-wall {
    .info-item {
        position:relative;
        display:inline-block;
        margin: 0 1em;
    }
    .info-item:not(:first-child) {
        &:before {
            display:block;
            position:absolute;
            content:'';
            width:1px;
            height:1em;
            margin-left:-1em;
            margin-top:-0.49em;
            top:50%; left:0;
            background-color:$gray-400;
            vertical-align:middle;
        }
    }

    .info-item:first-child {margin-left:0;}
    .info-item:last-child {margin-right:0;}

    // color
    &.wall-gray-200 {
        .info-item:not(:first-child) {
            &:before {background-color:$gray-200;}
        }
    }
    &.wall-gray-300 {
        .info-item:not(:first-child) {
            &:before {background-color:$gray-300;}
        }
    }
    &.wall-gray-400 {
        .info-item:not(:first-child) {
            &:before {background-color:$gray-400;}
        }
    }
    &.wall-indigo {
        .info-item:not(:first-child) {
            &:before {background-color:$indigo;}
        }
    }
    &.wall-white {
        .info-item:not(:first-child) {
            &:before {background-color:$white;}
        }
    }
}

// nav tab menu
.nav-tabs {
    $nav-active-color:           $indigo;
    $nav-default-color:          $gray-300;
    $nav-hover-color:            $black;
    $nav-disabled-color:         $gray-100;

    .nav-link {
        padding:calcRem(12px);
        color: $nav-default-color;
        background-color: transparent;
        @include transition($btn-transition);

        .txt:after {
            width:0;
            transform-origin:left bottom;
            transition: width 0.15s ease-in-out;
        }

        @at-root .desktop &{
            @include hover-focus {
                color: $nav-hover-color;
                .txt:after {width:100%;}
            }
        }

        &.disabled {
            color: $nav-disabled-color;
            background-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color:$nav-active-color;
        background-color:transparent;

        .txt:after {
            width:100%;
            background-color: $indigo;
        }
    }

    //.dropdown-menu {
    //    margin-top: -$nav-tabs-border-width;
    //    @include border-top-radius(0);
    //}
}
.nav-pills {
    $nav-active-color:           $indigo;
    $nav-default-color:          $gray-200;
    $nav-hover-color:            $indigo;
    $nav-disabled-color:         $gray-100;
    $nav-item-between-space:     11px;

    position:relative;
    margin-left:calcRem(-$nav-item-between-space);
    margin-right:calcRem(-$nav-item-between-space);
    font-family: $fonts-bold;

    &:before {
        display:block;
        content:'';
        position:absolute;
        width:auto; height:1px;
        background-color:$gray-200;
        bottom:50%;
        left:$nav-item-between-space;
        right:$nav-item-between-space;
    }
    &:after {
        display:block;
        content:'';
        position:absolute;
        width:auto; height:1px;
        background-color:$gray-200;
        bottom:0;
        left:$nav-item-between-space;
        right:$nav-item-between-space;
    }

    .nav-item {
        width:50%;
        padding:calcRem(0px $nav-item-between-space);
        text-align:center;
    }
    .nav-link {
        padding:calcRem(0px);
        color: $nav-default-color;
        background-color: transparent;
        @include transition($btn-transition);

        .txt {
            display:block;
            padding:calcRem(18px 0px);
            &:after {
                width:100%;
                height:0;
                transform-origin:center bottom;
                transition:height .24s ease-out;
            }
        }

        @include hover-focus {
            color: $nav-hover-color;
            .txt:after {
                transition:height .24s ease-in;
                height:calcRem(4px);
                background-color:$nav-hover-color;
            }
        }

        &.disabled {
            color: $nav-disabled-color;
            background-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color:$nav-active-color;
        background-color:transparent;

        .txt:after {
            height:calcRem(4px);
            background-color: $indigo;
        }
    }

    @include media-breakpoint-up(md) {
        $nav-item-between-space:     13.3px;

        margin-left:calcRem(-$nav-item-between-space);
        margin-right:calcRem(-$nav-item-between-space);

        &:before {display:none;}
        &:after {
            left:$nav-item-between-space;
            right:$nav-item-between-space;
        }
        .nav-item {
            width:auto;
            padding:calcRem(0px $nav-item-between-space);
        }

        &.nav-items-3 {
            .nav-item {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
            }
        }
        &.nav-items-4 {
            .nav-item {
                flex: 0 0 25%;
                max-width: 25%;
            }
        }
    }


}

// carousel
.carousel-indicators {
    li {
        @include transition(background-color .25s ease);

        margin-right:7px !important;
        margin-left:7px !important;
        background-color:transparent;
        border:1px solid #fff;
        opacity:1;
    }

    .active {
        background-color:#fff;
    }
}

// [custom]
.next-arrow-list {
    .list-item:not(:last-child) {
        position:relative;
        padding-right:calcRem(24px);
        &:after {
            display:block;
            position:absolute;
            content:'';
            width:calcRem(8px);
            height:calcRem(8px);
            top:50%; right:0;
            margin:calcRem(-4px) calcRem(9px) 0 0;
            border-top: 2px solid $gray-400;
            border-right: 2px solid $gray-400;
            transform: rotate(45deg);
            transform-origin: center center;
        }
    }
}

// list
.list-group {
    padding:0;
}
.list-group-item {
    border:none;
    border-radius:0;
}

// alert
//.alert {
//    padding-top: 0;
//    padding-bottom: 0;
//    margin-bottom: 0;
//    border-radius: 0;
//}
//.alert-dismissible {
//    padding:calcRem(16px);
//    border:1px solid $gray-200;
//}

// video container
.video-wrap {
    display:block;
    line-height:1;
    .inner-video-wrap {
        position:relative;
        display:inline-block;
    }
}

// form
.form-control {
    border-color:$gray-200;
}
.no-label {
    line-height:1;

    .form-check-label,
    .custom-control-label {
        &:after,
        &:before {
            top:0;
        }
    }
}
.form-check-input {
    position: absolute;
    margin:0;
    z-index: -1;
    opacity: 0;

    &:checked ~ .form-check-label::before {
        color:$white;
        border-color:$indigo;
        background-color:$indigo;
        box-shadow:none;
    }

    &:focus ~ .form-check-label::before {
        box-shadow:none;
    }

    &:focus:not(:checked) ~ .form-check-label::before {
        border-color:$blue;
    }

    &:not(:disabled):active ~ .form-check-label::before {
        color:$white;
        border-color:$indigo;
        background-color:$indigo;
        box-shadow:none;
    }

    &:disabled {
        ~ .form-check-label {
            color: $gray-200;

            &::before {
                border-color: $gray-100;
                background-color: $gray-100;
            }
        }
    }
}
.form-check-label {
    position: relative;
    margin-bottom: 0;
    vertical-align: top;

    &:before {
        display:block;
        content:"";
        position:absolute;
        width:1rem; height:1rem;
        top:0; left:0;
        border:$gray-200 solid 1px;
        background-color:#fff;
        pointer-events:none;
    }
    &:after {
        display: block;
        position: absolute;
        content: "";
        width: 1rem;
        height: 1rem;
        //top: 0.25rem;
        //left: -1.5rem;
        background:{repeat:no-repeat; position:50% 50%; size:100%;}
    }

    &:after,
    &:before {
        width:calcRem(18px);
        height:calcRem(18px);
        top:0.15em;
        left:calcRem(-18px);
    }
    &:before {
        border-color: $gray-400;
        border-radius:calcRem(10px);
    }

    .txt {margin-left:calcRem(8px);}
}
.form-check {
    position: relative;
    display: block;
    min-height:calcRem(18px);
    padding-left:calcRem(18px);

    .form-check-label::before {
        border-radius:0.125rem;
    }

    .form-check-input:checked ~ .form-check-label {
        &::before {
            border-color: $indigo;
            background-color: $indigo;
            box-shadow:none;
        }
        &::after {
            background-image:url('../img/common/icon_gui/icon_check_@white.svg');
        }
    }

    //.form-check-input:indeterminate ~ .form-check-label {
    //    &::before {
    //        border-color: $indigo;
    //        background-color: $indigo;
    //        box-shadow:none;
    //    }
    //    &::after {
    //        background-image:url('../img/common/icon_gui/icon_check_@white.svg');
    //    }
    //}

    .form-check-input:disabled {
        &:checked ~ .form-check-label::before {
            background-color: $indigo;
        }
        //&:indeterminate ~ .form-check-label::before {
        //    background-color: $indigo;
        //}
    }
}

// [type="button"], [type="reset"], [type="submit"]
[type="button"], [type="reset"], [type="submit"]{
    font-family: $fonts-bold;
}

// form - custom
.custom-select {
    select:not([multiple]) {
        min-width:16.25rem;
        height:calcRem(48px);
        padding: 0.6875rem 1.5rem;
        margin:0 0.5rem;
        border-width: 1px;
        border-style: solid;
        border-radius: 50rem !important;
        font-size:1rem;
        vertical-align:middle;

        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
        background-image: url('../img/common/icon_gui/icon_arrow_down.svg');
        background-repeat:no-repeat;
        background-position: calc(100% - 17px) center;
    }
}
.custom-control {}
.custom-control-input {
    &:active ~ .custom-control-label {
        border-radius:0;
        background-color:$white;
        color:$gray-400;
        outline:none !important;
    }
    &:hover ~ .custom-control-label {
        border-color:$gray-200;
        background-color:$white;
        color:$gray-400;
        outline:none !important;

        &.label-gray-200 {
            border-color:$indigo;
            background-color:$white;
            color:$indigo;
        }
    }
    &:focus ~ .custom-control-label {
        border-color:$gray-200;
        background-color:$white;
        color:$gray-400;
        outline:none !important;
    }
}
.custom-control-label {
    $select-sm-width:                  calcRem(96px);
    $select-md-width:                  calcRem(160px);
    $select-sm-height:                 calcRem(32px);
    $select-sm-font-size:              calcRem(12px);
    $select-sm-text-color:             $gray-200;
    $select-sm-border-color:           $gray-100;
    $select-sm-bg-color:               $white;

    min-width:$select-sm-width;
    height:$select-sm-height;
    padding:calcRem(7px 20px);
    border:1px solid $select-sm-border-color;
    border-radius: 50rem !important;
    background-color:$white;
    color:$select-sm-text-color;
    font-family: $fonts-bold;
    font-size:$select-sm-font-size;
    text-transform:uppercase;
    vertical-align:middle;
    text-align:center;
    line-height:1;
    cursor:pointer;
    user-select: none;
    @include transition($btn-transition);

    &.size-medium{
        width: $select-md-width;
    }

    &:before {
        position:static;
        display:inline-block;
        width:0; height:100%;
        border:none !important;
        box-shadow:none !important;
        vertical-align:middle;
    }
    &:after {display:none;}

    .txt {
        display:inline-block;
        color:inherit;
        line-height:1;
        vertical-align:middle;
    }



    &.label-gray-200{
        border:1px solid $gray-200;
        color: $gray-400;
    }
}
.custom-checkbox,
.custom-radio {
    padding-left:0;

    .custom-control-input:checked ~ .custom-control-label {
        background-color:$indigo;
        border-color:$indigo;
        color:$white;
    }

    //.custom-control-input:indeterminate ~ .custom-control-label {
    //    background-color:$indigo;
    //    border-color:$indigo;
    //    color:$white;
    //}

    .custom-control-input:disabled {
        &:checked ~ .custom-control-label {
            background-color: $gray-100;
            border-color: $gray-100;
            color:$white;
        }
        //&:indeterminate ~ .custom-control-label {
        //    background-color: $gray-100;
        //    border-color: $gray-100;
        //    color:$white;
        //}
    }
}
.custom-control-inline {
    margin:calcRem(0 8px);

    &:first-child {margin-left:0;}
    &:last-child {margin-right:0;}
}

// checkbox custom
.toggle-icon-chk {
    .custom-control-input {}
    .custom-control-label {
        width:auto; height:auto;
        min-width:0; padding:0;
        border:none; border-radius:0;
        background-color:transparent;
        font-size:calcRem(16px);
        color:$gray-400;
    }

    // custom icon
    .inline-icon {
        & + .txt {
            margin-left:calcRem(4px);
        }
    }
    [class^="s-ico"] {position:relative;
        &:after {
            display: block;
            content: '';
            position:absolute;
            width: 100%; height: 100%;
            top:0; left:0;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center center;
            opacity:0;
            @include transition($btn-transition);
        }
    }
    .s-ico-like {
        &:after{
            background-image:url('../img/common/icon_gui/icon_like_indigo_fill.svg');
        }
    }
    .s-ico-bookmark {
        &:after{
            background-image:url('../img/common/icon_gui/icon_bookmark_indigo_fill.svg');
        }
    }

    // hover effect
    &:hover {
        //.s-ico{
        //    .a {fill:$indigo !important;}
        //}
        .custom-control-label {
            color:$indigo;
        }
    }

    // checked
    .custom-control-input:checked ~ .custom-control-label {
        background-color:transparent;
        border:none;
        color:$indigo;

        [class^="s-ico"]:after {
            opacity:1;
        }
    }

    // disabled
    .custom-control-input:disabled {
        &:checked ~ .custom-control-label {
            background-color:transparent;
            border:none;
            color:$gray-100;
        }
    }
}

// vendor custom
.table{
    border-spacing: 0;
    th{
        font-family: $fonts-bold;
        font-weight: normal;
    }

    thead{
        th{
            border-bottom-width: 1px;
            @include hdpi(1.5){
                border-bottom-width: $number-4k-1px;
            }

            @include hdpi(1.6){
                border-bottom-width: 1px;
            }
        }
    }

    tbody{
        th{

        }
    }


    &.table-bordered{
        border:none;

        @include hdpi(1.5){
            border: $number-4k-1px;
        }

        @include hdpi(1.6){
            border: 1px;
        }

        thead{
            th{
                border-bottom: none;
            }
        }

        th{


        }

        th, td{
            border-color: $gray-100;
            border-width: 1px;
            @include hdpi(1.5){
                border-width: $number-4k-1px;
            }

            @include hdpi(1.6){
                border-width: 1px;
            }
        }
    }
}

// date range custom
.input-daterange {
    > dl,
    > div {width:100%;}
    .custom-control-inline {
        width:100% !important;
    }

    input[type="text"] {
        width:100%;
        padding:calcRem(7px 24px);
        border-radius:50rem !important;
        border-color:$gray-100;
        color:$gray-200;
        font-size:calcRem(12px);
        text-align:left;
        text-transform:uppercase;
        @include transition($btn-transition);
        cursor:pointer;

        -webkit-appearance:none;
        background-image: url('../img/common/icon_gui/icon_arrow_down_@gray200.svg');
        background-repeat:no-repeat;
        background-position: calc(100% - 17px) center;

        &::placeholder {
            color:$gray-200;
            @include transition($btn-transition);
        }

        &:focus {
            outline:none;
            box-shadow:none;
            height:0;
            visibility:hidden;
        }
        &:hover {
            border-color:$gray-200;
            background-color:$white;
            color:$gray-400;
            &::placeholder {color:$gray-400;}
        }
    }

    @include media-breakpoint-up(md) {
        > dl,
        > div {width:auto;}
        .custom-control-inline {
            width:auto !important;

        }

        input[type="text"] {
            width:200px;
        }
    }
}
.datepicker.dropdown-menu {
    min-width:auto;
    width:calc(100vw - 64px);
    padding:calcRem(18px 16px 14px);
    margin-top:calcRem(-16px); //-32px
    border-color:$gray-100;
    border-radius:0;
    color:$gray-400;
    font-size:calcRem(12px);
    z-index:99;

    &:before,
    &:after {display:none;}

    @include media-breakpoint-up(md) {
        width:calcRem(200px);
        padding:calcRem(18px 16px 16px);
    }
}
.datepicker {
    table  {width:100%; border:none;
        tr {
            td,th {
                width:auto; height:auto;
                border:none; border-radius:0;
            }
            td {
                span {
                    width:21%;
                    height:auto;
                    padding:calcRem(6px 8px);
                    margin:2.64% 6.16%;
                    border:none; border-radius:0;
                    line-height:1;
                    @include transition($btn-transition);

                    &.focus,
                    &.active,
                    &:hover {background:none !important;}

                    &.active,
                    &:hover {color:$indigo; border:none;}
                    &.focused {
                        background:$indigo !important;
                        color:$white;
                        border:none;
                        border-radius:50rem;
                    }
                }
            }
        }
        tbody {
            > tr:first-child {border-top:20px solid #fff;}
        }
    }
    .prev,
    .next {
        position:relative;
        font-size:0; text-indent:-9999px;
        width:calcRem(24px); height:100%;
        //height:calcRem(24px);
        border:none; border-radius:0;

        &:after {
            display:block;
            position:absolute;
            content:'';
            width:calcRem(8px);
            height:calcRem(8px);
            transform: rotate(45deg);
            transform-origin: center center;
            @include transition($btn-transition);
        }
        &:focus {}
        &:hover {
            background:none !important;
            &:after {border-color:$indigo;}
        }
    }
    .prev { //left:calcRem(10px);
        &:after {
            top:50%; left:0;
            margin:calcRem(-5px) 0 0 calcRem(10px);
            border-top:none;
            border-right:none;
            border-bottom: 2px solid $gray-400;
            border-left: 2px solid $gray-400
        }
    }
    .next { //right:calcRem(10px);
        &:after {
            top:50%; right:0;
            margin:calcRem(-5px) calcRem(10px) 0 0;
            border-left:none;
            border-bottom:none;
            border-top: 2px solid $gray-400;
            border-right: 2px solid $gray-400;
        }
    }
    .datepicker-switch {
        height:auto;
        font-size:1rem;
        line-height:1;
        font-weight:normal;

        &:hover {
            background:none;
        }
        &:focus {}
    }

    @include media-breakpoint-up(md) {
        table {
            tr {
                td {
                    span {
                        width:28.57%;
                        margin:2.38%;
                    }
                }
            }
        }
    }
}


// 기타
// 외부 링크
.ext-link{
    font-family: $fonts-bold;
    color: $indigo;
    &:after{
        display: inline-block;
        width: calcRem(24px); height: calcRem(24px);
        background:{image:url('../img/common/icon_gui/icon_arrow_outlink_@indigo.svg'); repeat: no-repeat; size: contain; position: center center;};
        content:'';
        vertical-align: middle;
    }
}

// Tooltip
$tooltip-arrow-width :           16px;
$tooltip-arrow-height :          8px;
$tooltip-color :                 $white;
$tooltip-bg :                    $gray-400;
$tooltip-arrow-color :           $tooltip-bg;
.tooltip {
    width:calcRem(300px);
    @include reset-text();
    @include font-size($h6-font-size);
    word-wrap: break-word;
    opacity: 0;

    &.show {
        opacity:1;
    }
    .arrow {
        width:$tooltip-arrow-width;
        height:$tooltip-arrow-height;
    }

    @include media-breakpoint-up(md) {
        width:auto;
    }
}
.bs-tooltip-top {
    padding: $tooltip-arrow-height 0;
    left:50%;

    .arrow {
        bottom: 0;

        &::before {
            top: 0;
            border-width: $tooltip-arrow-height ($tooltip-arrow-width / 2) 0;
            border-top-color: $tooltip-arrow-color;
        }
    }
}


.tooltip-inner {
    width:auto;
    max-width:100%;
    padding:calcRem(8px 16px);
    color:$tooltip-color;
    text-align:left;
    background-color:$tooltip-bg;
    border-radius:0; border:none;

    @include media-breakpoint-up(md) {
        max-width:calcRem(560px);
    }
}















