<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <% include ./partial/header.ejs %>
        <div class="sample">
<div>
    100
</div>
        </div>
        <% include ./partial/footer.ejs %>
    </div>

    <% include ./partial/scripts.ejs %>
</body>
</html>
