<!DOCTYPE html>
<html>
<head>
    <% include ./partial/head.ejs %>
</head>

<body>
    <div id="wrapper">
        서브페이지
        <% include ./partial/header.ejs %>
        <div class="sample">

        </div>
        <% include ./partial/footer.ejs %>
    </div>

    <% include ./partial/scripts.ejs %>
</body>
</html>
