{# 참조하는 상대적 경로 #}
{% set RELATIVE_SRC = '../../../' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>기본 레이아웃</title>
    {% import "inc_common_head.html" as head -%}
    {{ head.assetFiles( RELATIVE_SRC ) }}
</head>
<body>

<!-- Skip Nav -->
<div id="skip-navi">
    <a href="#el-sdp-container"><span>본문 바로가기</span></a>
</div>

<div id="app">
    <div class="wrapper">
        {% import 'inc_header.html' as nav %}
        {{ nav.active(0) }}
        <!-- 활성화 예제 -->
        {# nav.active([2,21,9]) #}


        <div id="el-sdp-container" class="sdp-container">

            <!-- HTML Template Code -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <!-- Write HTML Code! -->
                            <h1>샘플 코드</h1>
                            <div style="height:800px; background: slategray"></div>
                            <!-- //Write HTML Code! -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- // HTML Template Code -->

            {% include "inc_branch_cta.html" %}
        </div>

        {% include "inc_footer.html" %}
    </div>
</div>

{% import "inc_scripts.html" as scripts -%}
{{ scripts.assetFiles( RELATIVE_SRC ) }}

</body>
</html>