@charset "utf-8";
///
/// ** Background-image  Mixin A **
///  레티나, 백그라운드 이미지, 백그라운드 속성
///
/// @param {Value} String
/// @group background
///

// 배경 이미지 믹스인(레티나 대응)
@mixin bg-img($image:null,$img-path:null,  $color: null, $img-ext:null){

    // 파일 확장자 처리
    $img-ext-type:null;
    @if($img-ext == null or $img-ext == '' or $img-ext == J){
        $img-ext-type: '.jpg';
    }@else if($img-ext == P){
        $img-ext-type: '.png';
    }@else if($img-ext == G){
        $img-ext-type: '.gif';
    }@else{
        $img-ext-type: '.jpg';
    }

    // 백그라운드 이미지 처리
    @if($image !=null and $image != '') {
        @if (length($image) == 1) { //기본 이미지만 사용 시
            background-image: url($img-path + $image + $img-ext-type);
        } @else if (length($image) == 2) { // 레티나 이미지도 같이 사용 시
            $base-img-src: $img-path + nth($image,1) + $img-ext-type;
            $retina-img-src: $img-path +nth($image,2) + $img-ext-type;
            @include img-retina($base-img-src, $retina-img-src);
        }
    }

    // 백그라운드 컬러
    @if($color !=null and $color != ''){
        background-color: $color;
    }
}

// 배경 이미지 추가 속성 믹스인
@mixin bg-attr($repeat:null, $position:null, $size:null){
    @if($repeat != null and $repeat != ''){
        @if($repeat == R){
            background-repeat: repeat;
        }@else if($repeat == RX) {
            background-repeat: repeat-x;
        }@else if($repeat == RY){
            background-repeat: repeat-y;
        }@else if($repeat == N){
            background-repeat: no-repeat;
        }@else{

        }
    }

    @if($position != null and $position != ''){
        background-position: $position;
    }


    @if($size != null and $size != ''){
        @if($size == CV) {
            background-resize: cover;
        }@else if($size == CT) {
            background-resize: contain;
        }@else {
            background-resize: $size;
        }
    }
}

@mixin img-retina($file-1x, $file-2x) {
    background-image: url("#{$file-1x}");

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) {
        background-image: url("#{$file-2x}");
    }
}


///
/// ** Background-image Mixin  **
///  백그라운드 이미지 속성 단축 처리
///
/// @param {Value} String
/// @group background
///

@mixin background-image($imgs, $clips, $origins, $repeats, $positions, $resizes, $attachs){
    $list-img : null;
    $list-clip : null;
    $list-origin: null;
    $list-repeat : null;
    $list-position: null;
    $list-resize: null;
    $list-attach: null;

    @if length($imgs) > 1 {
        // use multiple background-image
        @each $img in $imgs {
            $list-img : append($list-img, url($img), comma);
        }

        @each $cli in $clips {
            $list-clip : append($list-clip, $cli, comma);
        }

        @each $ori in $origins {
            $list-origin : append($list-origin, $ori, comma);
        }

        @each $pos in $positions {
            $list-position : append($list-position, $pos, comma);
        }

        @each $rep in $repeats {
            $list-repeat : append($list-repeat, $rep, comma);
        }

        @each $att in $attachs {
            $list-attach : append($list-attach, $att, comma);
        }
    }@else{
        $list-img : url($imgs);
        $list-clip : $clips;
        $list-origin: $origins;
        $list-repeat : $repeats;
        $list-position: $positions;
        $list-resize: $repeats;
        $list-attach: $attachs;
    }

    // background-image property
    // background-clip, background-origin:
    //    initial 기본값 | padding-box 패딩 부분까지 배경 표시
    //    border-box 테두리 부분까지 배경이 표시 | content-box 패딩을 제외한 부분까지 배경이 표시

    background-image: $list-img;
    background-clip : $list-clip;
    background-origin : $list-origin;
    background-repeat: $list-repeat;
    background-position: $list-position;
    background-resize: $list-resize;
    background-attachment: $list-attach;
}


///
/// ** Background-image Mixin **
///  백그라운드 속성  단축 처리
///
/// @param {Value} String
/// @group background
///

@mixin background($color: null, $image:null, $clip:null, $origin:null, $repeat:null,
                  $position:null, $resize: null, $attach:null){

    background-color: $color;

    //백그라운드 이미지가 사용될 때
    @if($image){
        @include background-image($image, $clip, $origin, $repeat, $position, $resize, $attach);
    }
}

