@charset "utf-8";

/// Clearfix
/// @access public
/// @group etc.

@mixin clearfix(){
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}