{# 참조하는 상대적 경로 #}
{% set RELATIVE_PATH = '../' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>메인</title>

    {% import "inc_common_head.html" as head -%}
    {{ head.assetFiles( RELATIVE_PATH ) }}
</head>
<body>

{% include "inc_skip.html" %}

<div id="app">
    <div class="wrapper">
        {% import 'inc_header.html' as nav %}
        {{ nav.active(0) }} <!-- 메뉴 활성화시 배열값 전달, 비활성화시 0 -->

        <main id="main">
            <h1>Gulp HTML 템플릿 모듈(mozilla nunjucksRender)을 이용한 Static page 생성</h1>
            <p>ref=> https://mozilla.github.io/nunjucks/api.html</p>


            <h2>Posts HTML 출력 예제</h2>

            {% set items = [
            { name: 'james', type: 'green' },
            { name: 'john', type: 'blue' },
            { name: 'jim', type: 'blue' },
            { name: 'jessie', type: 'green' }
            ] %}

            {% for type, items in items | groupby("type") %}
            <b>{{ type }}</b> :
            {% for item in items %}
            {{ item.name }}
            {% endfor %}<br>
            {% endfor %}


        </main>

        {% include "inc_footer.html" %}
    </div>
</div>

{% import "inc_scripts.html" as scripts -%}
{{ scripts.assetFiles( RELATIVE_PATH ) }}

</body>
</html>
